
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}


.videojuego{
  border: 1px solid black;
  flex: 0 0 23%;
 padding: 1rem;

}
.videojuego label{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.img_container{
width: 100%;
}
.videojuego img{
  height: auto;
  width: 100%;

  margin-bottom: 1rem;
}
.oculto{
  display: none;
}
#catalogo_videojuegos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}